{% load static %}


<nav class="navbar navbar-expand-lg bg-mycolor" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'crm_app:main' %}">
            <img class="main" src="{% static 'images/logo.png' %}" alt="Logo CRM">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'crm_app:main' %}">Strona
                        główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crm_app:company-list' %}">Lista firm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crm_app:add-company' %}">Dodaj firmę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crm_app:application-list' %}">Wnioski</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crm_app:import-export' %}">Import/Export</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav ms-auto">

                <li class="nav.item">
                    <a class="nav-link text-white" href="{% url 'crm_app:logout' %}">WYLOGUJ SIĘ</a>
                </li>

            {% else %}
                <li class="nav.item">
                    <a class="nav-link text-white" href="{% url 'crm_app:login' %}">ZALOGUJ SIĘ</a>
                </li>

            {% endif %}

            </ul>
        </div>
    </div>
</nav>
