{% extends 'crm_app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}dodaj kontakt{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <form action="" method="POST">
            {{ form|crispy }}
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">Dodaj</button>
        </form>
        <br>

    </div>
    <div class="container d-flex justify-content-center align-items-center mt-4">
        {{ msg }}
    </div>
{% endblock %}
