{% extends 'crm_app/base.html' %}
{% block title %}lista wniosków{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        {% if not applications %}<h3>Brak wniosków w bazie.</h3>
        {% else %}
         <ul style="list-style: none">
         <h3><i>Lista wniosków zarejestrowanych w bazie: {{ no_of_applications}}</i></h3>
         <br>
        {% for application in applications %}
        <li><a href="{% url 'crm_app:application-details' application_id=application.id %}">
                        <button type="button" class="btn btn-outline-secondary">Szczegóły</button>
        </a><b>Wniosek numer:</b> {{ application.app_number }}, <b>Firma:</b> {{ application.company.name }},
            <b>Dodał: </b><i>{{ application.user.username }}, {{ application.date_added }}</i></li>
{% empty %}
                    <li>Brak firm</li>
         </ul>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

