{% extends 'crm_app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}lista firm{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="row mt-4"><h3>Wybierz jedną z opcji:</h3></div>
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-4">

        <div class="row">
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger">Filtruj</button>
                </form>
            </div>
        </div>

    </div>
    <div class="container">
        <br>
        <br>
        {% if companies %}
            <ul>
                <li><b>Liczba firm: {{ no_of_companies }}</b></li>
                <br>
                {% for company in companies.all %}
                    <li><a href="{% url 'crm_app:company-details' company_id=company.id %}">
                        <button type="button" class="btn btn-outline-secondary">Szczegóły</button>
                    </a><b>         {{ company.name }}</b>, NIP: {{ company.nip }}, SCORE: {{ company.score }},
                        Przychód: {{ company.income }}</li>
                    {% empty %}
                    <li>Brak firm</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
